body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

body {
  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("images/owlhealth-1600x1100.png");
  background-color: #FFFFFF;
}

body:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 174px;
  height: 182px;
  margin-left: -87px;
  margin-top: -91px;
  opacity: 0.0;
  background: url("images/logo.svg");
}